
.box-menu{
    background-image: url(../../../../public/images/main_bg.jpg);
    height: auto;
    padding: 50px;
}
.our-story{
    background-color: white;
    padding-top: 4%;
    height: auto;
    padding: 40px;
    width: auto;
   
}
.about{
    margin-top: 4%;
}
.about h1{
    font-family: "Courgette";
    margin-bottom: 4%;
}
.about p{
    font-family:"regular" ;
}
.title-menu{
    font-family: "Courgette";
}
.box-1{
    padding-left: 10%;
    padding-right: 10%;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}
.icon i{
    font-size: 40px;
}
.icon h3{
    font-family: "Courgette";
}

.img-coffe img{
    border-radius: 50%;
    border: 5px solid grey;

}

.meet-our h1{
    font-family:"Courgette" ;
}
.title-meet h1{
    padding-top: 4%;
    color: white;
}
.box-img-meet{
    padding-top: 4%;
    padding-bottom: 4%;
}

//responsive tablette 
@media (min-width:426px) and (max-width:768px){
    .img-meet img{
        width: 140px;
    }
}
//responsive mobile
@media (min-width:320px) and (max-width:426px){
    //our service
    .img-1 img{
        width: 100px;
        display: none;
    }
    .img-2 img{
        width: 100px;
        display: none;
    }
    //meet our service  
    .img-meet img{
        width: 60px;
    }
    .img-meet p{
        font-size: 10px;
    }
    .title-meet img{
        width: 100%;
    }
}


.allform{
    background-image: url(../../../../public/images/book_table_bg.jpg);
    height: auto;
    width: auto;
    border-radius: 20px;
    // padding:20px 100px;
    padding-bottom: 12%;
    
}

form{
    margin-bottom: 12%;
}
input,select{
    outline: none;
    border: none;
    padding: 7px 18px;
    border-radius: 15px;
    margin: 10px;
}
.allform{
    a{
        color: white;
        padding: 10px 18px;
        background-color: $color-brown;
        border-radius: 20px;
        
        
    }
}
//responsive book your table tablette
@media (min-width:425px) and (max-width:768px) {
    .allform{
        width: 100%;
        display: block;
    }
    form{
        display: block;
    }

    
}
//responsive book your table phone
@media (min-width:320px) and (max-width:425px){
    form{
        width: 100%;
    }
    select{
        width: 100%;
    }
}
@media (min-width:320px) and (max-width:424px){
    form{
        width: 100%;
    }
    select{
        width: 100%;
    }
}
/*OUR BLOG*/
.img-cards{
    position: relative;
}
.card1 img{
    border: 5px solid rgba(128, 128, 128, 0.505);
    border-radius: 20px;
}
.abdsol{
    position: absolute;
    background-color: $color-brown;
    border-radius: 8px;
    padding: 5px;
    color: white;
    top: 90%;
    left: 7%;
    
}
.para-card{
    margin-top: 8%;
}
.title-blog{
    font-family: "Courgette";
} 
.btn-blog a{
    border-radius: 20px;
    background-color: $color-brown;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
}
.btn-mbl a{
    border-radius: 20px;
    background-color: $color-brown;
    padding: 5px 10px;
}

//responsive our blog tablette
@media (min-width:425px) and (max-width:768px) {
    .box-cards{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .card1{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .img-cards img{
        width: 250px;
    }
    .para-card{
        padding-top: 10px;
        text-align: center;
    }

    
}
//mobile our blog
@media (min-width:320px) and (max-width:426px) {
   .img-cards img{
    width: 250px;
   }
   .title-blog img{
    width: 100%;
   }
   .para-card {
    padding-top: 17%;
   }
    
}
///client testimonials

.client{
    background-color: rgba(0, 0, 0, 0.668);
    background-blend-mode: hue;
    background-image: url(././../../../../public/images/testimonials_background.jpg);
    padding-bottom: 4%;
}
.title-client{
    color: white;
    font-family: "Courgette";
}
.img-client img{
    border-radius: 50%;
    border: 4px solid white;
}
.para-client{
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}
//reesponsive tablette client 
@media (min-width:426px) and (max-width:769px){
    .box-client{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4%;
        

    }
    .para-client{
        text-align: center;
        
    }
}
//responsive mobile client
@media (min-width:320px) and (max-width:426px){
    .box-client{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 4%;
    }
    .box-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .revers{
        display: flex;
        flex-direction: column-reverse;
    }
    .title-client img{
        width: 100%;
    }
}

//**contact
.our-contact{
    background-image: url(../../../../public/images/main_bg.jpg);
    height: auto;
    padding-bottom: 4%;
}
.title-contact{
    font-family: "Courgette";
}
.box-contact{
    background-color: $color-brown;
    max-width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}
.box-contact i{
    color: white;
    font-size: 40px;
    padding-top: 6%;
}
.box-contact p{
    color: white;
    padding-bottom: 5%;
    border-bottom: 2px solid white;

}
//**responsive contact tablette
@media (min-width:426px) and (max-width:769px){
    .box-contact{
        max-width: 60%;
        
    }
}

//**responsive contact mobile
@media (min-width:320px) and (max-width:426px){
    .box-contact{
        max-width: 100%;
        
    }
    .title-contact img{
        width: 100%;
    }
}


